# GENERAL
#================================================================
.DS_Store
.AppleDouble
.LSOverride
.idea
.vagrant
.vscode

# THUMBNAILS
#================================================================
._*
