# {{ ansible_managed }}
# All manual changes will be lost
#------------------------------------------------------------

# Get the current git branch
#--------------------------------------
git_branch() {
  git branch 2>/dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/ (\1)/'
}

# Set the prompt
#--------------------------------------
# ANSI color codes
COLOR_GRAY='\[\033[38;5;238m\]'
COLOR_RED='\[\033[38;5;31m\]'
COLOR_YELLOW='\[\033[38;5;12m\]'
COLOR_GREEN='\[\033[38;5;130m\]'
COLOR_CYAN='\[\033[38;5;2m\]'
COLOR_RESET='\[\033[0m\]'

# Set the Bash prompt
PS1="${COLOR_GRAY}╭─${COLOR_RESET}"
PS1+="${COLOR_RED} \u>${COLOR_RESET}"
PS1+="${COLOR_YELLOW} \h> ${COLOR_RESET}"
PS1+="${COLOR_GREEN}\w>${COLOR_RESET}"
PS1+="${COLOR_CYAN}\$(git_branch)${COLOR_RESET}
${COLOR_GRAY}╰─${COLOR_RESET} \[\033[1m\]\$(if [[ \$? == 0 ]]; then echo '#'; else echo '> '; fi)\[\033[0m\] "

{% for i in common_profile_config %}
{{ i }}
{% endfor %}
